.header {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width);
  margin-top: 30px;
  padding: 0 20px;
}
.nav {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.nav a {
  padding: 10px;
}

.nav a.right {
  margin-left: auto;
}
.main {
  margin-top: 30px;
  display: flex;
  width: var(--max-width);
  max-width: 100%;
  border-radius: 4px;
  overflow: hidden;
  padding: 0 20px;
}
.sidebar {
  flex: 0 0 auto;
  background-color: #f0f0f0;
  padding: 20px;
}
.article {
  flex: 1;
  background-color: #fff;
  padding: 20px;
}
@media only screen and (max-width: 1024px) {
  .main {

  }
}

@media only screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
  }
  .sidebar, .article {
    width: 100%;
  }
}